*.html
*.csv
*.xml
*.tar.*
*.zip
*.png
*.txt

Wikipedia/wikipedia_images/*
Math_Stack_Exchange/MathStackExchange/*
Math_Stack_Exchange/ImageFiltering/*
Math_Stack_Exchange/MathmaticaImages/*
Math_Stack_Exchange/MSE_Links/*
Wikipedia/NTCIR-12_MathIR_Wikipedia_Corpus/*
Wikipedia/WikiHTML/* 

